<table class="table table-striped" id="sample_types">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @sample_types.present? %>
      <% @sample_types.each do |sample_type| %>
        <tr>
          <td><%= sample_type.name %></td>
          <td>
            <%= link_to '', edit_sample_type_path(sample_type), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'fa fa-edit'} %>
            <%= link_to '', sample_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2" class="text-center">No sample types yet</td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

  var table = $('#sample_types').DataTable( {
    scrollY: 450,
    orderCellsTop: true,
    fixedColumns: true,
    fixedHeader: true,
    width: 100
  } );
</script>