<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7">
      <h1 style="display: inline-block;">Staffs</h1>
    </div>
    <% if is_admin? %>
      <div class="col-lg-5 text-right" style="margin-top: 7px;">
        <%= link_to 'New Staff', new_user_path, {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-black'} %>
      </div>
    <% end %>
  </div>
  <div id="users_table">
  <%= render partial: 'index'%>
  </div>
</div>

<%= render partial: 'layouts/modal'%>
