<div class="container-fluid mt-10 card shadow-sm" style="background-color: white;">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="h5">Couriers for <%= link_to @buyer.name, buyer_path(@buyer)%></h2>
      </div>
      <div class="col text-right">
        <%= link_to 'New Courier', new_buyer_courier_path(@buyer), class: 'btn btn-black btn-sm' %>
      </div>
    </div>
  </div>
  <div id="couriers_table" class="mt-10">
    <%= render partial: 'index'%>
  </div>
</div>

<%= render partial: 'layouts/modal'%>
