<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7">
      <h1 style="display: inline-block;">Couriers for <%= link_to @buyer.name, buyer_path(@buyer)%></h1>
    </div>
    <div class="col-lg-5 text-right" style="margin-top: 7px;">
      <%= link_to 'New Courier', new_buyer_courier_path(@buyer), class: 'btn btn-black' %>
    </div>
  </div>
  <div id="couriers_table">
    <%= render partial: 'index'%>
  </div>
</div>

<%= render partial: 'layouts/modal'%>
