<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="display: inline-block;">Vendor Approved Items</h2>
    </div>
  </div>
  <div id="couriers_table">
    <%= render partial: 'buyer_approved_items'%>
  </div>
</div>