<div class="container-fluid mt-10 card shadow-sm" style="background-color: white;">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="h5">Item wise pending Vendor Comments</h2>
      </div>
    </div>
  </div>
  <div id="couriers_table" class="mt-10">
    <%= render partial: 'pending_buyer_comments'%>
  </div>
</div>
