<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="display: inline-block;">Item wise pending Vendor Comments</h2>
    </div>
  </div>
  <div id="couriers_table">
    <%= render partial: 'pending_buyer_comments'%>
  </div>
</div>