<div class="container-fluid mt-10 card shadow-sm" style="background-color: white;">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="h5"><%= @buyer.name%> - Clarification Approval</h2>
      </div>
      <div class="col text-right">
        <%= link_to 'Back', pending_buyer_approval_path, class: 'btn btn-black btn-sm' %>
      </div>
    </div>
  </div>
  <div id="couriers_table" class="mt-10">
    <%= render partial: 'pending_buyer_approval'%>
  </div>
</div>
