<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <h2 style="display: inline-block;"><%= @buyer.name%> - Clarification Approval</h2>
    </div>
    <div class="col-lg-4" style="margin-top: 10px;">
			<h5 class="text-right">
        <%= link_to 'Back', pending_buyer_approval_path, class: 'btn btn-black sm' %>
      </h5>
		</div>
  </div>
  <div id="couriers_table">
    <%= render partial: 'pending_buyer_approval'%>
  </div>
</div>