@import "bootstrap";
@import "font-awesome";
@import 'custom';
html {
    height: 100%;
}
body {
    font-family: "Lato", sans-serif;
    height: 100%;
    background: #f2f2f2;
}

.tableFixHead          { overflow-y: auto; height: 400px; }
.tableFixHead thead th { position: sticky; top: 0; }

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 20%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 50%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.form-border {
    border: 1px solid #999d9f;
    padding: 50px;
    margin: 20px;
    box-shadow: 0 8px 10px -4px #646a6d;
}
.text-box-width{
    width: 60%;
}

.h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: .0625rem solid rgba(46,54,80,.125);
    border-radius: 1rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.card-header {
    padding: 0.75rem 0.75rem;
    margin-bottom: 0;
    background-color: rgba(46,54,80,.03);
    border-bottom: .0625rem solid rgba(46,54,80,.125);
}

.card .card-header {
    background: 0 0;
}

.ge {
    width: 18rem;
    height: 150px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-15 {
    margin-left: 15px;
}