<div class="container-fluid">
  <div class="row" style="margin-top: 10px;">
		<div class="col-lg-6">
			<h1 class="text-left">Items Report</h1>
		</div>
		<div class="col-lg-6" style="margin-top: 10px;">
			<h5 class="text-right"><%= link_to 'Send reminder mail', send_reminder_mail_path(from: 'reports'), class: 'btn btn-black' %></h5>
		</div>
	</div>
  <div id="buyers_table">
    <%= render partial: 'items'%>
  </div>
</div>