<div>
	<div style="float: left;">
		<%= image_tag('ei_logo.jpg', alt: '', height: 100, width: 100)%>
	</div>
	<div>
		<h2 style="margin-bottom: 0;text-align: center;">Eclat International</h2>
		<p style="margin-bottom: 0;text-align: center;font-size: 12px;">1/591 RATCHI GOUNDER THOTTAM,</p>
		<p style="margin-bottom: 0;text-align: center;font-size: 12px;">BOYAMPALAYAM, POOLUVAPATTI (PO)</p>
		<p style="margin-bottom: 0;text-align: center;font-size: 12px;">TIRUPUR-641603.</p>
		<p style="margin-bottom: 0;text-align: center;font-size: 12px;">GST NO: 33BFUPD3272D1ZM</p>
	</div>
</div>
<hr>