<div>
	<!-- <div style="float: left;margin-right: 20px;">
		<%#= image_tag('ei_logo.jpg', alt: '', height: 100, width: 100)%>
	</div> -->
	<div>
		<h2 style="margin-bottom: 0;color: #1b77f2"><b>Eclat International</b></h2>
		<p style="margin-bottom: 0;font-size: 12px;color: #333b3f">1/591 RATCHI GOUNDER THOTTAM,</p>
		<p style="margin-bottom: 0;font-size: 12px;color: #333b3f">BOYAMPALAYAM, POOLUVAPATTI (PO), TIRUPUR-641603.</p>
		<p style="margin-bottom: 0;font-size: 12px;color: #333b3f">GST NO: 33BFUPD3272D1ZM</p>
	</div>
</div>
<hr>